/* DocSetter */
.lc-assem-doc-setter {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .lc-assem-doc-setter__item {
    display: flex;
    align-items: center;
  }

  .lc-assem-doc-setter__link {
    font-size: 12px;
    color: var(--el-color-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
